# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
build/LuaObj.sdf
*.tlog
*.idb
*.suo
build/obj/x32/Debug/dlmalloc/dlmalloc.vcxprojResolveAssemblyReference.cache
*.log
*.pdb
*.manifest
build/test.ilk
build/obj/x32/Debug/test/test_manifest.rc
*.cache
build/obj/x32/Debug/test/test.lastbuildstate
*.lastbuildstate
build/obj/x32/Debug/test/test.exe.embed.manifest.res
*.suo
